html{
  height: 100%;}

body{ 
  background-image: url(background.jpg);
  background-size: cover;
  height: 100%;}
  

.Container{ /* Contentiore Nero trasparente */
  width: 65%;
  height: 90%;
  background-color: rgba(000, 000, 000, 0.4);
  margin: auto;
  margin-top: 20px;
  border-radius: 15px;}

img{
  max-width: 20%; /* Ridimensione Logo */
  margin: auto;  /* Centratura Logo */
  display: block;
  padding-top: 80px;}

header h1{ /* Centratura h1*/
  text-align: center;
  color: chartreuse;}

nav{ /* Centratura del contenitore Nav */
  width: 82%;
  margin: auto; 
  text-align: center;
  border-radius: 3px;
  background-color: rgb(0, 255, 0);}

nav input{ /* Centratura alta e bassa dei bottoni */
  margin-top: 15px;
  margin-bottom: 15px;}

main{ /* Sistemazione del contenitore main */
  width: 82%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

div h2, div h3, div h4{ /* Sistemazioni margini alti e bassi dei paragrafi */
  margin-bottom:10px;
  margin-top: 10px;
}

#Low-percentage{ /* Barra percentuale Bassa */
  width: 15%;
  height: 40px;
  border-radius: 6px;
  background-color: rgb(255, 78, 78);
  margin-bottom: 40px;
}

#Half-percentage{ /* Barra percentuale Media */
  width: 38%;
  height: 40px;
  border-radius: 6px;
  background-color: rgb(255, 194, 81);
  margin-bottom: 40px;
}

#Max-percentage{ /* Barra percentuale Massima */
  width: 60%;
  height: 40px;
  border-radius: 6px;
  background-color: rgb(76, 255, 70);
  margin-bottom: 40px;
}


